{% extends 'base.html' %}
{% load thumbnail %}

{% block extra_title %}- Питомец по кличке {{ pet.name }}{% endblock extra_title %}

{% block content %}
    <h4>Питомец по кличке "{{ pet.name }}".</h4>
    <div class="d-flex flex-row justify-content-start border">
        <div class="p-2 border">
            {% if  pet.photo %}
                <a href="{{ pet.photo.url }}"><img src="{% thumbnail pet.photo 200x0 %}"><br>
                Нажмите для увеличения</a>
            {% else %}
                <span class="badge badge-light">Нет картинки</span>
            {% endif %}
        </div>
        <div class="p-2 border">
            <p>Информация о питомце:<br>
            Кличка: {{ pet.name }}<br>
            Порода: {{ pet.breed.breed }}<br>
            Возраст, лет: {{ pet.age }}<br>
            Пол: {{ pet.get_sex_display }}<br>
            {{ pet.description }}



            </p>
        </div>
    </div>
{% endblock content %}