{% extends 'base.html' %}

{% block extra_title %} - Контактная информация{% endblock extra_title %}

{% block content %}
    <div class="d-flex flex-row justify-content-start border">
        <div class="col">
            <h4>Наши контакты:</h4>
            <p>
                Россия, 123456, село Кукуево, ул. Слоновья, владение 1<br>
                Телефон: 8 (800) 555 -35 - 35<br>
                E-mail: <a href="mailto: info@kupi.slona">info@kupi.slona</a>
            </p>
        </div>
    </div>
{% endblock content %}